/* src/styles/SearchBooks.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  color: #bc3d3d;
}

.search-section {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .card {
    display: inline-block;
    width: calc(50% - 20px);
    margin-right: 20px;
    vertical-align: top;
  }
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre tarjetas */
  justify-content: center; /* Centrar las tarjetas */

}

.book-card {
  background-color: #2a1100; /* Color de fondo de la tarjeta */
  color: white; /* Color del texto en la tarjeta */
  padding: 15px;
  border-radius: 8px;
  width: 300px; /* Ancho de cada tarjeta */
}

/* styles/SearchBooks.css */
.books-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

button {
  background-color: #cb4b16;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #dc322f;
}



/* Agrega estilos adicionales según tus preferencias */

